html {
  color: black;
  text-align: center;
  text-overflow: none;
  font-family: Arial;
  font-size: 30px;
}

head {
  font-size: larger;
  color: cornflowerblue;
}

body {

  background-image: url("1.jpg");
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 39%;
  translate: (-50%, -50%);
}

.cancer {
  width: "50%";
  border-width: 3px;
}

.container {
  width: 50%;
  margin-left: 20px;
  border-width: 3px;
}